# 应用配置
app:
  name: app
  environment: development
  debug: true
  domain: "http://localhost:8080"

# 服务配置
server:
  http:
    enabled: true
    host: 0.0.0.0
    port: 8080
  grpc:
    enabled: true
    host: 0.0.0.0
    port: 3000
    namespace: "app"
  websocket:
    enabled: true
    host: 0.0.0.0
    port: 4000
  event:
    enabled: true
    driver: "mq"
  health:
    enabled: true
    port: 5000

# 安全配置
security:
  jwt:
    secret:

# 数据库配置
database:
  migration:
    enabled: true
  driver: postgres
  database:
  max_open_conns: 100
  max_idle_conns: 10
  conn_max_lifetime: 3600s

# redis配置
redis:
  main:
    # 模式选择: standalone, cluster, sentinel
    mode: standalone
    # 单机模式配置
    host: 127.0.0.1
    port: 6379
    password:
    db: 0
    key_prefix:
    # 集群模式配置
    cluster:
      addrs:
        - "127.0.0.1:7000"
        - "127.0.0.1:7001"
        - "127.0.0.1:7002"
      password:
    # 哨兵模式配置
    sentinel:
      master_name: "mymaster"
      sentinel_addrs:
        - "127.0.0.1:26379"
        - "127.0.0.1:26380"
        - "127.0.0.1:26381"
      password:
      sentinel_password:
      db: 0
    # 连接池配置
    pool:
      min_idle_conns: 10
      max_retries: 3
      pool_size: 100

  cache:
    mode: standalone
    host: 127.0.0.1
    port: 6379
    password:
    db: 1
    key_prefix:
    cluster:
      addrs: []
      password:
    sentinel:
      master_name:
      sentinel_addrs: []
      password:
      sentinel_password:
      db: 1
    pool:
      min_idle_conns: 10
      max_retries: 3
      pool_size: 100

  mq:
    mode: standalone
    host: 127.0.0.1
    port: 6379
    password:
    db: 2
    key_prefix:
    cluster:
      addrs: []
      password:
    sentinel:
      master_name:
      sentinel_addrs: []
      password:
      sentinel_password:
      db: 2
    pool:
      min_idle_conns: 10
      max_retries: 3
      pool_size: 100

# 缓存配置
cache:
  driver: redis
  serializer: json

# 消息队列配置
message_queue:
  enabled: true
  driver: amqp
  amqp:
    host: localhost
    port: 5672
    username: guest
    password: guest
    vhost: /

# ETCD配置
etcd:
  grpc:
    addr: 127.0.0.1:2379

# 文件存储配置
storage:
  driver: local
  cdn_domain: ""
  local:
    root_path: "uploads"
    multipart_storage: "file"
    static_enabled: false # 是否开启本地静态资源代理
  minio:
    endpoint: ""
    access_key_id: ""
    access_key_secret: ""
    bucket: ""
    region: ""
    use_ssl: true
    access_mode: "private"
  ali_oss:
    access_key_id: ""
    access_key_secret: ""
    bucket: ""
    endpoint: ""
    endpoint_internal: ""
    with_internal_endpoint: false
    access_mode: "private"
  hw_obs:
    access_key_id: ""
    access_key_secret: ""
    bucket: ""
    endpoint: ""
    endpoint_internal: ""
    with_internal_endpoint: false
    access_mode: "private"
  tx_cos:
    access_key_id: ""
    access_key_secret: ""
    endpoint: ""
    endpoint_internal: ""
    with_internal_endpoint: false
    access_mode: "private"
  s3:
    access_key_id: ""
    access_key_secret: ""
    bucket: ""
    endpoint: ""
    endpoint_internal: ""
    with_internal_endpoint: false
    access_mode: "private"

# 可观测性配置
monitor:
  service_name: "app"
  service_version: "v1.0.0"
  tracer: # 链路追踪
    otlp_enabled: false # 是否开启数据上报
    otlp_endpoint: "http://127.0.0.1:4318" # 上报地址
  metrics: # 监控
    otlp_enabled: false # 是否开启数据上报
    otlp_endpoint: "http://127.0.0.1:4318" # 上报地址
    otlp_interval: 30s # 数据上报间隔
  log: # 日志
    otlp_enabled: false # 是否开启数据上报
    otlp_endpoint: "http://127.0.0.1:4318" # 上报地址

# 第三方服务配置
third_party:
  wx: # 微信平台
    mini_program:
      app_id:
      secret:
  tts: # 语音服务
    tts_provider: "" # 文字转语音供应商
    tts_voice: "zhistella" # 文字转语音音色
    tts_voice_format: "wav" # 文字转语音音频格式
    speech_provider: "" # 语音转文字供应商
    speech_voice_format: "PCM" # 语音转文字音频格式
    provider:
      aliyun:
        access_key_id: ""
        access_key_secret: ""
        app_key: ""
